@page "/editarblog/{Id:int}"

@inject IBlogBusinessLayer _BL
@inject NavigationManager _NM

@using System.ComponentModel.DataAnnotations

<h1>Estem editant el blog @Id - @MyEditBlogCanviNomModel.Nom </h1>

<EditForm Model="MyEditBlogCanviNomModel" OnValidSubmit="Submit">

    <DataAnnotationsValidator />

    Nom del formulari: 
    <InputText class="form-control" @bind-Value="MyEditBlogCanviNomModel.Nom" />
    <ValidationMessage For="@(()=>MyEditBlogCanviNomModel.Nom)" />

    <br />

    <ValidationSummary />

    <button class="btn btn-primary" type="submit">Canviar el nom</button>
</EditForm>


@code
{

    public class EditBlogCanviNomModel
    {
        [Required(ErrorMessage ="El camp nom és obligatori")]
        public string Nom { get; set; }
    }

    private EditBlogCanviNomModel MyEditBlogCanviNomModel = new();

    [Parameter] public int Id { get; set; }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            var result = await _BL.GetById(Id);

            var data = result.Data;
            MyEditBlogCanviNomModel.Nom = data.Nom;
            StateHasChanged();

        }
    }

    private async Task Submit()
    {

        var parms = new BlogCanviaNomParams
        {
            Id = Id,
            NouNom = MyEditBlogCanviNomModel.Nom
        };
        var resultat = await _BL.CanviaNom(parms);

        _NM.NavigateTo("/fetchdata");

    }

}